# @package model

_target_: src.models.tacotron2_hifigan.Tacotron2HiFiGAN

# Acoustic model (Tacotron2-style)
acoustic_model:
  _target_: src.models.acoustic.Tacotron2
  
  # Encoder
  encoder_dim: 512
  encoder_n_convs: 3
  encoder_conv_dim: 512
  
  # Attention
  attention_rnn_dim: 1024
  attention_dim: 128
  attention_location_n_filters: 32
  attention_location_kernel_size: 31
  
  # Decoder
  decoder_rnn_dim: 1024
  prenet_dim: 256
  max_decoder_steps: 1000
  gate_threshold: 0.5
  
  # Post-net
  postnet_n_convs: 5
  postnet_conv_dim: 512
  postnet_kernel_size: 5
  
  # Mel-spectrogram
  n_mel_channels: 80
  mel_fmin: 0
  mel_fmax: 8000

# Vocoder (HiFi-GAN)
vocoder:
  _target_: src.models.vocoder.HiFiGAN
  
  # Generator
  generator_channels: 512
  generator_kernel_size: 7
  generator_dilation_rates: [[1, 3, 5], [1, 3, 5], [1, 3, 5]]
  
  # Discriminator
  discriminator_channels: 64
  discriminator_periods: [2, 3, 5, 7, 11]
  
  # Loss weights
  mel_loss_weight: 45.0
  fm_loss_weight: 2.0
  gen_loss_weight: 1.0
  disc_loss_weight: 1.0

# Text processing
text_processing:
  phoneme_vocab_size: 256
  add_blank: true
  normalize_text: true
  
# Audio processing
audio:
  sample_rate: 22050
  hop_length: 256
  win_length: 1024
  n_fft: 1024
  n_mel_channels: 80
  mel_fmin: 0
  mel_fmax: 8000
  min_level_db: -100
  ref_level_db: 20
  power: 1.5
  griffin_lim_iters: 60
